*{
    margin:0px;
    padding:0px;
}

body{
    background-color: #51cfef;
    text-align: center;
}

h1{
    color: #C44536;
}

button:hover{
    cursor:pointer;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    font-size: 6vmin;
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.92rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    color: #c1121f;
    background-color: #bae4f8;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #283D3B;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
}

#answer{
    margin: 2rem;
    font-size: 2rem;
    background-image: linear-gradient(125deg, #cd5d1c, #1b7111, #1c25cd, #900be2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#player1,#player2{
    height: 10vmin;
    width: 14vmin;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #283D3B;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
}

#player1{
    margin-right: 1rem;
}
